<header class="header">
  <div class="header__container">
    <a href="/">
      <picture class="header__branding">
        <source srcset="/assets/images/logo-light.svg" media="(prefers-color-scheme: dark)">
        <img src="/assets/images/logo.svg" alt="{{ site.title }} Logo" loading="Lazy" class="header__logo">
      </picture>
    </a>
    <div class="header__actions">
      <button class="header__checkout snipcart-checkout">
        {% include cart-icon.svg %}
        <span class="snipcart-total-price">{{ 0 | format_price }}</span>
      </button>
    </div>
  </div>
</header>
