<div>
  <input type="number" id="{{ product.identifier }}-qty" class="qty" min="1" value="1" />
  <label for="{{ product.identifier }}-qty">Stück</label>
  <button
    class="buy-button snipcart-add-item"
    data-item-quantity="1"
    data-item-id="{{ product.identifier }}"
    data-item-name="{{ product.name }}"
    data-item-price="{{ product.price }}"
    data-item-image="{{ product.image }}"
    data-item-url="{{ page.url }}"
    data-item-description="{{ product.excerpt | remove: '<p>' | remove: '</p>' }}">
    Bestellen für {{ product.price | format_price }}
  </button>
</div>
